@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Lato:ital,wght@0,400;0,700;1,400 & display=swap");
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside, section {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Times New Roman";
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: "Times New Roman"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  margin: 50px 0;
  font-size: 18px;
  background-color: #e8e8e8; }

.center {
  text-align: center; }

.decor {
  text-align: center;
  padding: 0 50px;
  font-size: 28px;
  font-style: italic;
  font-weight: 900; }

.content {
  max-width: 600px;
  height: 100%;
  margin: 0px auto;
  line-height: 1.6; }

img {
  margin: 25px 0;
  height: 450px;
  border-radius: 50%; }

ul {
  background: url("../../img/li.svg") 0 9px no-repeat; }

ul li:before {
  content: "";
  height: 6px;
  width: 6px;
  background-color: red;
  border-radius: 50%;
  padding: 0 0 0 18px; }

a:hover {
  color: #FC7798; }

.connection {
  min-height: 700px; }
  .connection > p:before {
    content: "";
    padding: 0 0 0 25px; }

.text p:before {
  content: "";
  padding: 0 0 0 25px; }

.connection > p:before {
  content: "";
  padding: 0 0 0 25px; }

h3 {
  margin: 25px 0;
  text-decoration: underline;
  font-style: oblique; }

form {
  width: 294px; }
  form p {
    padding: 25px 0 10px 0; }

input {
  display: block;
  padding: 30px;
  width: 294px;
  height: 30px;
  border: 1px solid #b0b0b0;
  border-radius: 6px; }
  input:focus {
    border: 1px solid #7fbed5;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
    box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93); }

textarea {
  padding: 30px;
  display: block;
  height: 100px;
  width: 294px;
  border-radius: 6px; }
  textarea:focus {
    border: 1px solid #7fbed5;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
    box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93); }

button {
  margin: 25px 0 0 0;
  display: block;
  width: 294px;
  height: 30px;
  border-radius: 6px;
  background: #80b7b3;
  color: #fff;
  letter-spacing: 0.1em;
  -webkit-box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
  box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54); }
  button:hover {
    background-color: #3a5856;
    -webkit-box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54);
    box-shadow: 0px 6px 40px 0px rgba(128, 183, 179, 0.54); }
  button:active {
    background-color: #818181; }

h5 {
  font-size: 28px;
  font-style: italic;
  text-decoration: underline;
  margin: 25px 0 0 0; }

.networks a img {
  margin-right: 10px;
  height: 50px; }
